<div *ngIf="form; else loading">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div 
    class="form-control"
    [ngClass]="{invalid: form.get('title')?.touched && form.get('title')?.invalid}">
        <label for="title">Название поста:</label>
        <input id="title" type="text" formControlName="title">
        <div
        *ngIf="form.get('title')?.touched && form.get('title')?.invalid" 
        class="validation">
            <small *ngIf="form.get('title')?.errors?.['required']">
            Введите название поста
            </small>
        </div>
    </div>

    <div 
    class="form-control"
    [ngClass]="{invalid: form.get('img')?.touched && form.get('img')?.invalid}">
        <label for="img">Главное изображение поста <b>550 X 300</b>:</label>
        <quill-editor id="img" formControlName="img"></quill-editor>
        <div
        *ngIf="form.get('img')?.touched && form.get('img')?.invalid" 
        class="validation">
            <small *ngIf="form.get('img')?.errors?.['required']">
            Выберите главное изображение для поста
            </small>
        </div>
    </div>

    <div 
    class="form-control"
    [ngClass]="{invalid: form.get('desc')?.touched && form.get('desc')?.invalid}">
        <p><label>Описание поста:</label></p>
        <quill-editor formControlName="desc"></quill-editor>
        <div
        *ngIf="form.get('desc')?.touched && form.get('desc')?.invalid" 
        class="validation">
            <small *ngIf="form.get('desc')?.errors?.['required']">
            Заполните описание поста
            </small>
        </div>
    </div>
   
    <div class="form-control"
    [ngClass]="{invalid: form.get('text')?.touched && form.get('text')?.invalid}">
        <label>Контент поста:</label>
        <quill-editor formControlName="text"></quill-editor>
        <div
        *ngIf="form.get('text')?.touched && form.get('text')?.invalid" 
        class="validation">
            <small *ngIf="form.get('text')?.errors?.['required']">
            Заполните контент поста
            </small>
        </div>
    </div>

    <button 
    class="btn btn-primary"
    type="submit"
    [disabled]="form.invalid || submitted"
    >Обновить</button>
    </form>
</div>

<ng-template #loading>
    <p class="text-center">Идёт загрузка...</p>
</ng-template>
